<div class="topnav", id="nav_bar">
  <ul>
    <li id="title">Word Power</li>
    <% if user_signed_in? %>
      <li id="message"><%= "Logged In as  #{current_user.first_name}" %></li>
      <li> <%= button_to "Log out", destroy_user_session_path, :method => :delete, :id => 'user_log_out_button', class: "btn btn-lg btn-secondary"%></li>
    <% else %>
      <li> <%= button_to "Log in", new_user_session_path, :method => :get, :id => 'user_log_in_button', class: "btn btn-lg btn-secondary"%></li>
    <% end %>
    <% if admin? %>
      <%= button_to "Admin Site", rails_admin_path, :method => :get, :id => 'admin_button', class: "btn btn-secondary" %>
    <% end %>
  </ul>
</div>

<div class="container">
  <div class="form-inline" id="question_options">
    <div class ='form-group'>
      <h2 id="difficulty_text"><%= 'Difficulty: ' + @ques_opt[6] %></h2>
    </div>
    <%if user_signed_in? %>
      <%= form_tag questions_path, :method => :get do%>
        <div id="select", class="form-group">
          <ul>
            <li id="option1"><input type="radio" value="<%= "Easy" %>", name="rdlevel"><%= "Easy"%></li>
            <li id="option2"><input type="radio" value="<%= "Medium" %>", name="rdlevel"><%="Medium"%></li>
            <li id="option3"><input type="radio" value="<%= "Hard" %>", name="rdlevel"><%="Hard"%></li>
          </ul>
        </div>
        <div class="form-group">
          <%= submit_tag "Select",class: "btn btn-outline-secondary btn-sm",:id => "select_level"%>
        </div>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <div id="score" class="form-group">
        <h3 id="score_text"><%= "Score: #{@cal_score}"%></h3>
      </div>
    <%end %>
  </div>
  <div id="question">
    <h1><%= @ques_opt[1] %></h1>
  </div>
  <%= form_tag verifyanswer_path, :method => :post%>
  <% @ques_opt.each do |e| %>
    <%= hidden_field_tag "question[]", e %>
  <% end %>
  <ul>
    <li id="option"><input type="radio" value="<%= @ques_opt[2] %>", name="optradio"><%= @ques_opt[2] %></li>
    <li id="option"><input type="radio" value="<%= @ques_opt[3] %>", name="optradio"><%= @ques_opt[3] %></li>
    <li id="option"><input type="radio" value="<%= @ques_opt[4] %>", name="optradio"><%= @ques_opt[4] %></li>
    <li id="option"><input type="radio" value="<%= @ques_opt[5] %>", name="optradio"><%= @ques_opt[5] %></li>
  </ul>
  <div id="button_bar">
    <%= submit_tag "Submit", class: "btn btn-outline-secondary btn-sm"%>
    <%= link_to "Next", questions_path, :method => :get, class: "btn btn-outline-secondary btn-sm", :id => "next"%>
  </div>
  <br>
  <br>
  <% if user_signed_in? %>
    <div id="add_question">
      <%= link_to "Add question to the question bank", new_question_path, :method => :get, class: "btn btn-outline-secondary btn-sm"%>
    </div>
    <div>
      <%= link_to "Leaderboard", leaderboard_path, :method=> :get %>
    </div>
  <% end %>
  <div class="explanation">
    <%= @exp%>
  </div>
  <div class="answer">
    <%= @answer %>
  </div>
</div>
