<div class="topnav", id="nav_bar">
  <ul>
    <li id="title">Word Power</li>
    <% if user_signed_in? %>
      <li id="message"><%= "Logged In as  #{current_user.first_name}" %></li>
      <li> <%= button_to "Log out", destroy_user_session_path, :method => :delete, :id => 'user_log_out_button', class: "btn btn-lg btn-secondary"%></li>
    <% else %>
      <li> <%= button_to "Log in", new_user_session_path, :method => :get, :id => 'user_log_in_button', class: "btn btn-lg btn-secondary"%></li>
    <% end %>
    <% if admin? %>
      <%= button_to "Admin Site", rails_admin_path, :method => :get, :id => 'admin_button', class: "btn btn-secondary" %>
    <% end %>
  </ul>
</div>

<div class="container">
   <%= form_tag questions_path, :method => :get do%>
      <div id="select">
        <ul>
          <li id="option1"><input type="radio" value="<%= "Easy" %>", name="optradio1"><%= "Easy"%></li>
          <li id="option2"><input type="radio" value="<%= "Medium" %>", name="optradio1"><%="Medium"%></li>
          <li id="option3"><input type="radio" value="<%= "Hard" %>", name="optradio1"><%="Hard"%></li>
        </ul>
        <%= submit_tag "Select", :id => "select"%>
      </div>
   <% end %>
  <div id="difficulty">
    <h2><%= 'Difficulty: ' + @ques_opt[6] %></h2>
  </div>
  <div id="question">
    <h1><%= @ques_opt[1] %></h1>
  </div>
  <%= form_tag verifyanswer_path, :method => :post%>
    <% @ques_opt.each do |e| %>
       <%= hidden_field_tag "question[]", e %>
    <% end %>
    <ul>
      <li id="option"><input type="radio" value="<%= @ques_opt[2] %>", name="optradio"><%= @ques_opt[2] %></li>
      <li id="option"><input type="radio" value="<%= @ques_opt[3] %>", name="optradio"><%= @ques_opt[3] %></li>
      <li id="option"><input type="radio" value="<%= @ques_opt[4] %>", name="optradio"><%= @ques_opt[4] %></li>
      <li id="option"><input type="radio" value="<%= @ques_opt[5] %>", name="optradio"><%= @ques_opt[5] %></li>
    </ul>
    <div id="button_bar">
      <%= submit_tag "Submit", class: "btn btn-outline-secondary btn-sm" %>
      <%= link_to "Next", questions_path, :method => :get, class: "btn btn-outline-secondary btn-sm", :id => "next"%>
    </div>
  <div id="score">
    <% if user_signed_in? %>
     <h3><%= "Score: #{@cal_score}"%></h3>
    <%end %>
  </div>
  <br>
  <br>
  <% if user_signed_in? %>
     <div id="add_question">
       <%= link_to "Add question to the question bank", new_question_path, :method => :get, class: "btn btn-outline-secondary btn-sm"%>
     </div>
  <% end %>
  <div class="explanation">
    <%= @exp%>
  </div>
  <div class="answer">
    <%= @answer %>
  </div>
</div>
