<div class="container">
  <div id="question">
    <h1><%= @ques_opt[1] %></h1>
  </div>
  <%= form_tag verifyanswer_path, :method => :post%>
  <% @ques_opt.each do |e| %>
    <%= hidden_field_tag "question[]", e %>
  <% end %>
  <ul>
    <li><input type="radio" value="<%= @ques_opt[2] %>", name="optradio"><%= @ques_opt[2] %></li>
    <li><input type="radio" value="<%= @ques_opt[3] %>", name="optradio"><%= @ques_opt[3] %></li>
    <li><input type="radio" value="<%= @ques_opt[4] %>", name="optradio"><%= @ques_opt[4] %></li>
    <li><input type="radio" value="<%= @ques_opt[5] %>", name="optradio"><%= @ques_opt[5] %></li>
  </ul>
  <div id="button_bar">
    <%= submit_tag "Submit", class: "btn btn-outline-secondary btn-sm" %>
    <%= link_to "Next", questions_path, :method => :get, class: "btn btn-outline-secondary btn-sm", :id => "next"%>
  </div>
  <div class="explanation">
    <%= @exp %>
  </div>
  <div class="answer">
    <%= @answer %>
  </div>
</div>
