<div class="topnav", id="nav_bar">
  <ul>
    <li id="title">Word Power-Add a new Question</li>
  </ul>
</div>
<div  class="container", id="add_form">
  <h1 id="add_title">Add a new question</h1>
  <br>
  <br>
  <%= form_tag questions_path, method: :post do %>
    <%= label :question, :question,'Question' %>
    <br>
    <%= text_field :question, 'question' %>
    <br>
    <%= label :question, :option1, 'Option 1' %>
    <br>
    <%= text_field :question, 'option1' %>
    <br>
  <%end %>

</div>
