<div class="topnav", id="nav_bar">
  <ul>
    <li id="title">Word Power-Add a new Question</li>
  </ul>
</div>
<div  class="container", id="add_form">
  <h1 id="add_title">Add a new question</h1>
  <br>
  <br>
  <%= form_tag questions_path, method: :post do %>
    <%= label :question, :question,'Question' %>
    <br>
    <%= text_field :question, 'question' %>
    <br>
    <%= label :question, :option2, 'Option 1' %>
    <br>
    <%= text_field :question, 'option2' %>
    <br>
    <%= label :question, :option3, 'Option 2' %>
    <br>
    <%= text_field :question, 'option3' %>
    <br>
    <%= label :question, :option4, 'Option 3' %>
    <br>
    <%= text_field :question, 'option4' %>
    <br>
    <%= label :question, :answer, 'Answer' %>
    <br>
    <%= text_field :question, 'answer' %>
    <br>
    <%= label :question, :explanation, 'Explanation for question' %>
    <br>
    <%= text_area :question, 'explanation' %>
    <br>
  <%end %>

</div>
