
<div class="topnav", id="nav_bar">
  <ul>
    <li id="title">Welcome to Wordpower</li>
    <li><%= link_to 'Back to questions', questions_path, :method => :get, :id => 'back_to_questions'%></li>
    <li><input type = "submit", value = "Log out", id = "user_log_out_button"></li> <%# To add action for logout %>
  </ul>
</div>
<div  class="container", id="add_form">
  <h1 id="add_title">Add a new question</h1>
  <%= form_tag questions_path, method: :post do %>
    <%= label :question, :question,'Question' %>
    <br>
    <%= text_area :question, 'question' %>
    <br>
    <%= label :question, :option2, 'Option 1' %>
    <br>
    <%= text_area :question, 'option2' %>
    <br>
    <%= label :question, :option3, 'Option 2' %>
    <br>
    <%= text_area :question, 'option3' %>
    <br>
    <%= label :question, :option4, 'Option 3' %>
    <br>
    <%= text_area :question, 'option4' %>
    <br>
    <%= label :question, :answer, 'Answer' %>
    <br>
    <%= text_area :question, 'answer' %>
    <br>
    <%= label :question, :explanation, 'Explanation for question' %>
    <br>
    <%= text_area :question, 'explanation' %>
    <br>
    <%= submit_tag 'Add this question' %>
  <%end %>

</div>
