<div class="topnav", id="nav_bar">
  <ul>
    <li id="title">Word Power</li>
    <% if user_signed_in? %>
      <li id="message"><%= "Logged In as  #{current_user.first_name}" %></li>
      <li> <%= button_to "Log out", destroy_user_session_path, :method => :delete, :id => 'user_log_out_button', class: "btn btn-lg btn-secondary"%></li>
    <% else %>
      <li> <%= button_to "Log in", new_user_session_path, :method => :get, :id => 'user_log_in_button', class: "btn btn-lg btn-secondary"%></li>
    <% end %>
    <% if admin? %>
      <%= button_to "Admin Site", rails_admin_path, :method => :get, :id => 'admin_button', class: "btn btn-secondary" %>
    <% end %>
  </ul>
</div>
<div class="container">
  <table class="table table-secondary">
    <thead>
    <tr>
      <th scope="col">#Rank</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    <% @user = [['Jack', 'James', '10'], ['kaiwen', 'huang', '10']]%>
    <% @user.each_with_index do |p, index| %>
      <tr>
        <th scope="row"><%= index+1%></th>
        <td><%= p[0] %></td>
        <td><%= p[1] %></td>
        <td><%= p[2] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

