<%= stylesheet_link_tag "application", "assets/stylesheets/user_sign_up.css" %>
<div class="topnav", id="nav_bar">
  <ul>
    <li id="title">Word Power</li>
  </ul>
</div>

<div  class="container", id="sign_up_form">
<h1 id="sign_up_title">Sign up</h1>
  <%= form_tag users_path do%>
    <%= label :user, :username, 'Username' %>
    <br>
    <%= text_field :user, 'username'%>
    <br>
    <%= label :user, :email, 'E-Mail' %>
    <br>
    <%= text_field :user, 'email'%>
    <br>
    <%= label :user, :password, 'Password' %>
    <br>
    <%= text_field :user, 'password'%>
    <br>
    <br>
    <%= submit_tag 'Create my account' %>
  <% end %>

  </div>
