
<%= stylesheet_link_tag "application" %>
  <div id="landing-header">
    <script>
      window.onload = function(){
        $.ajax("/clearsession")
      }
    </script>
  <h1>Welcome to Word Power</h1>
  <%= button_to "Get Started", questions_path, :method => :get, :id => 'get_start_button', class: "btn btn-lg btn-secondary" %>
    <% if user_signed_in? %>
      <%= button_to "Sign out", destroy_user_session_path, :method => :delete, :id => 'sign_out_button', class: "btn btn-lg btn-secondary"%>
    <% else %>
      <%= button_to "Log in", new_user_session_path, :method => :post, :id => 'log_in_button', class: "btn btn-lg btn-secondary"%>
      <%= button_to "Sign up", new_user_registration_path, :method => :get, :id => 'sign_up_button', class: "btn btn-lg btn-secondary"%>
    <% end %>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0aa88cd9eb66029e5134a759d301d549&auto=format&fit=crop&w=1650&q=809&s=8e745d9991ad44efe6e242c7ac321208&auto=format&fit=crop&w=975&q=80" alt="First slide">
    </div>
 </div>
</div>

