<nav class="navbar navbar-expand-lg navbar-light">
  <li class="navbar-brand">WordPower</li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="navbar-text"><%= "Logged In as  #{current_user.first_name}" %></li>
      <% end %>
      <% if admin? %>
        <%= link_to "Admin Site", rails_admin_path, :method => :get, class: "nav-link" %>
      <% end %>
      <%= link_to 'Back to questions', questions_path, :method => :get, class: "nav-link"%>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "nav-link"%>
      <% else %>
        <%= link_to "Log in", new_user_session_path, :method => :get, class: "nav-link"%>
      <% end %>
    </ul>
  </div>
</nav>
<h1>Feedback</h1>
<div class="container", id="feedback_info">
  <table class="table table-light">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Comment</th>
      <th scope="col">Rate</th>
    </tr>
    </thead>
    <tbody>
      <% @feedback_data.each do |e| %>
        <tr>
          <td><%= e[2] %></td>
          <td><%= e[1]%></td>
          <td><%= e[0] %></td>
          <td><%= e[3] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Back", :back, class: "btn btn-outline-secondary btn-sm"%>
</div>

