<html>
<head>
  <title>Selt18projectG006</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert">
        <% if user_signed_in?  %>
            <% if flash[:notice]=='Welcome! You have signed up successfully.'%>
                <%= "Welcome #{current_user.first_name}! You have signed up successfully"%>
            <%elsif flash[:notice] == 'Signed in successfully.'%>
                <%= "Welcome back #{current_user.first_name}!" %>
            <% else %>
                <%= flash[:notice] %>
            <% end %>
          <% else %>

          <%= flash[:notice ] %>

        <% end %>
      </div>
    <% elsif flash[:correct]%>
      <div class="alert alert-success" role="alert">
        <%= flash[:correct]%>
      </div>
    <% elsif flash[:warning]%>
      <div class="alert alert-danger" role="alert">
        <%= flash[:warning]%>
      </div>

    <% end%>

    <%= yield %>

</body>
</html>
